/* ตั้งค่าพื้นฐาน */
body {
    margin: 0; /* ลบระยะขอบของหน้าเว็บทั้งหมด */
    padding: 0; /* ลบพื้นที่ว่างภายในหน้าเว็บ */
    font-family: 'Roboto', sans-serif; /* กำหนดฟอนต์เป็น Roboto */
    background: url('homepage.jpg') no-repeat center center fixed; /* ใช้รูปภาพเป็นพื้นหลัง, จัดให้อยู่ตรงกลาง, และทำให้พื้นหลังไม่เลื่อน */
    background-size: cover; /* ปรับภาพพื้นหลังให้เต็มพื้นที่โดยไม่ผิดสัดส่วน */
    color: white; /* ตั้งสีข้อความ */
}

.welcome-container {
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงองค์ประกอบ */
    justify-content: center; /* จัดองค์ประกอบให้อยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดองค์ประกอบให้อยู่ตรงกลางแนวตั้ง */
    height: 100vh; /* กำหนดความสูงเต็มหน้าจอ (viewport) */
    background: rgba(63, 63, 63, 0.7); /* เพิ่มพื้นหลังสีเทาเข้มโปร่งใส */
}

.content {
    text-align: center; /* จัดข้อความทั้งหมดให้อยู่ตรงกลาง */
    max-width: 1000px; /* จำกัดความกว้างของกล่องเนื้อหา เพื่อให้ข้อความอ่านง่าย */
    background: rgba(255, 255, 255, 0.1); /* เพิ่มพื้นหลังโปร่งใสสีขาว */
    padding: 50px; /* เพิ่มช่องว่างภายในกล่อง เพื่อความสมดุล */
    border-radius: 50px; /* ทำมุมของกล่องให้โค้งมน */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* เพิ่มเงาให้กล่อง  */
}

h1 {
    font-size: 2.5rem; /* กำหนดขนาดฟอนต์หัวข้อใหญ่ */
    margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่างของหัวข้อ */
}

p {
    font-size: 1.2rem; /* ตั้งขนาดฟอนต์ข้อความย่อหน้า */
    margin-bottom: 30px; /* เพิ่มระยะห่างด้านล่างของย่อหน้า */
}

.start-button {
    display: inline-block; /* ทำให้ปุ่มมีลักษณะเหมือนกล่องข้อความ */
    text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
    padding: 10px 20px; /* เพิ่มพื้นที่ภายในปุ่ม เพื่อให้ดูใหญ่และกดง่าย */
    font-size: 1.2rem; /* ตั้งขนาดตัวอักษรในปุ่มให้เด่นชัด */
    color: white; /* ตั้งสีตัวอักษรในปุ่ม */
    background: #d00617; /* กำหนดสีพื้นหลังปุ่ม */
    border-radius: 20px; /* ทำมุมของปุ่มให้โค้งมน  */
    transition: all 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนแปลงเมื่อโต้ตอบ */
}

.start-button:hover {
    background: #ff3503; /* เปลี่ยนสีพื้นหลังปุ่มเป็นสีแดงสดเมื่อชี้เมาส์ */
    transform: scale(1.1); /* เพิ่มขนาดปุ่ม  */
}


/* สำหรับจัดการไอคอน */
.icon-image {
    width: 350px; /* กำหนดความกว้างของรูปภาพ */
    height: 350px; /* กำหนดความสูงของรูปภาพ */
    margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่างของไอคอน */
    object-fit: cover; /* ปรับรูปภาพให้พอดีกับกรอบโดยไม่ผิดสัดส่วน */
    display: inline-block; /* จัดรูปภาพให้อยู่ตรงกลาง */
}
